.inputStyle {
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 2px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    font-family: 'Ubuntu', sans-serif;
    width:76%;
    line-height: 0;
    height:45px;
}

.inputStyleFlat {
    width:90%;
}

.inputStyle:focus{
    border: 2px solid rgba(0, 0, 0, 0.18) !important;
  }