.Toolbar {
    height: 56px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 90;
    background: #fff;
    border-color: rgba(0,0,0,.14);
    color: rgba(0,0,0,.6);
    fill: rgba(0,0,0,.6);
    transition: box-shadow 200ms ease-in-out;
    box-shadow: 1px 1px transparent;
    border-bottom: 1px solid #d2dce8;
}

.Toolbar nav {
    height: 100%;
}

.Logo {
    height: 80%;
}

@media (max-width: 499px) {
    .DesktopOnly {
        display: none;
    }
}